{% extends 'blog/base_out.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class='content-section'>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="text-center">
                    <img class="mb-4" src="{% static "blog/logo.png" %}" alt="" width="72" height="72">
                    <h2>Anmelden</h2>
                </div>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Anmelden
                </button>
            </div>
        </form>
        <small class="text-muted">
                Hast du noch keinen Account? <a class="ml-2" href="{% url 'register' %}">Registrieren</a>
            </small>            
        </div>
    </div>
    
      
{% endblock content %}