{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class='content-section'>

                <fieldset class="form-group">
                    <div class="text-center">
                        <img class="mb-4" src="{% static "blog/logo.png" %}" alt="" width="72" height="72">
                        <h2>Du wurdest abgemeldet</h2>
                    </div>
                </fieldset>
                
            <div class="border-top pt-3">
                <small class="text-muted">
                    Du möchtest doch noch einen Fang eintragen? <a href="{% url 'login' %}">Erneut anmelden</a>
                </small>
            </div>
        </div>
{% endblock content %}
