{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% load thumbnail %}
    
<div class="row">

{% for user in users %}
    {% if user.id != 1 %}
            <div class="col-xl-3 col-md-6 mb-4">
                
                <div class="card shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row"> 
                            <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-primary mb-1"><a href="{% url 'profile-detail' user.id %}"> {{ user.username }}</a> 
                                    {% if not user.is_active %}<i class="far fa-times-circle" style="color:#FF4600" data-toggle="tooltip" data-placement="top" title="{{ user.username }} ist inaktiv"></i>{% endif %}</i></div>
                                {% if user.first_name or user.last_name %}
                                <div class="h7 mb-0 text-gray-600"><small><i class="fas fa-user"></i> {{ user.first_name}} {{ user.last_name}}</small></div>
                                {% endif %}
                                {% if user.email %}
                                <div class="h7 mb-0 text-gray-600"><small><i class="fas fa-envelope"></i> {{ user.email}}</small></div>
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                {% thumbnail user.profile.image "100x100" crop="center" as im %}
                                <a href="{% url 'profile-detail' user.id %}"><img class="rounded-circle" style="width: 6rem; height: 6rem;" src="{{ im.url }}" alt=""></a>
                                {% endthumbnail %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    {% endif %}    
{% endfor %}

</div>

{% endblock content %}

