{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    
<div class="row">

{% for user in users %}
            <div class="col-xl-3 col-md-6 mb-4">
                
                <div class="card shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center"> 
                            <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-primary mb-1"><a href="{% url 'profile-detail' user.id %}"><i class="fas fa-user"></i> {{ user.username }}</a></div>
                                {% if user.first_name or user.last_name %}
                                <div class="h7 mb-0 text-gray-600"><i class="fas fa-globe-americas"></i> {{ user.first_name}} {{ user.last_name}}</div>
                                {% endif %}
                                {% if user.email %}
                                <div class="h7 mb-0 text-gray-600"><i class="fas fa-envelope"></i> {{ user.email}}</div>
                                {% endif %}
                                <div class="h7 mb-0 text-gray-600"><i class="fas fa-file-signature"></i> {{ user.date_joined|date:"d. M 'y"}}</div>
                            </div>
                            <div class="col-auto">
                                    <a href="{% url 'profile-detail' user.id %}"><img class="rounded-circle" style="width: 8rem; height: 8rem;" src="{{ user.profile.image.url }}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
{% endfor %}

</div>

{% endblock content %}

