{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12">
    
        <!-- Bar Chart Overall -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-trophy"></i> Overall Score</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
            <canvas id="bar-chart-overall"></canvas>
            </div>
            <hr>
            <div class="small" href="#">Gesamtpunktestand. Die Summe aus den Werten der drei Divisionen multipliziert mit ihren Faktoren.</div>
            
        </div>
    </div>
    
        <!-- Pie Chart Overall -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> <i class="fas fa-chart-pie"></i> Summary of Divisions</h6>
        </div>
        <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="chart-pie-overall"></canvas>
                </div>
                <hr>
                <div class="small" href="#">Summe aus den Werten der drei Divisionen.</div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> <i class="fas fa-table"></i> Division - Barsch</h6>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered table-sm">
                <thead>
                    <tr>
                    <th scope="col"><i class="fas fa-user"></i> Teilnehmer</th>
                    <th scope="col">1st</th>
                    <th scope="col">2nd</th>
                    <th scope="col">3rd</th>
                    </tr>
                </thead>
                <tbody>
                    {% for container in UserDataContainer %}
                        <tr>
                            <td>{{ container.username }}</td>
                            {% for entry in container.longest_barsch %}
                                <td>{{ entry }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="small" href="#">Die drei längsten Fänge in der Division-Barsch</div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> <i class="fas fa-table"></i> Division - Zander</h6>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered table-sm">
                <thead>
                    <tr>
                    <th scope="col"><i class="fas fa-user"></i> Teilnehmer</th>
                    <th scope="col">1st</th>
                    <th scope="col">2nd</th>
                    <th scope="col">3rd</th>
                    </tr>
                </thead>
                <tbody>
                    {% for container in UserDataContainer %}
                        <tr>
                            <td>{{ container.username }}</td>
                            {% for entry in container.longest_zander %}
                                <td>{{ entry }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="small" href="#">Die drei längsten Fänge in der Division-Zander</div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> <i class="fas fa-table"></i> Division - Hecht</h6>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered table-sm">
                <thead>
                    <tr>
                    <th scope="col"><i class="fas fa-user"></i> Teilnehmer</th>
                    <th scope="col">1st</th>
                    <th scope="col">2nd</th>
                    <th scope="col">3rd</th>
                    </tr>
                </thead>
                <tbody>
                    {% for container in UserDataContainer %}
                        <tr>
                            <td>{{ container.username }}</td>
                            {% for entry in container.longest_hecht %}
                                <td>{{ entry }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="small" href="#">Die drei längsten Fänge in der Division-Hecht</div>
        </div>
    </div>

    </div>
</div>




{% endblock content %}