{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="container">

        <!-- HEADER SVG -->
        <div class=text-center>
            <img src="../../../media/logos/npc_rueckblick_2021.svg" width="200" alt="" class="center">

            <div class="d-sm-flex align-items-center justify-content-between mb-4">  
            </div>
        
        </div>

        
        <!-- BEGIN OF ROW -->
        <div class="row">

            <!-- CARD LONGEST FISH -->
            <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                Sieger:
                                </div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">
                                {{ Winner }} 
                            </div>
                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                {{ WinnerScore }} Punkte
                            </div>
                            
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-trophy fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        
            <!-- CARD CATCHES TOTAL -->
            <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                Gefangene Fische (gesamt)</div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">
                                {{ AllFishes }} 
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-box-open fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
  <!-- END OF ROW -->
    
    <!-- HIGHCHART TEST -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-trophy"></i> Overall Score</h6>
        </div>
        <div class="card-body">
     
                <div id="container"></div>
                <script src="https://code.highcharts.com/highcharts.src.js"></script>
                <script>
                  Highcharts.chart('container', {
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: null
                    },
                    xAxis: {
                        categories: {{ Usernames |safe }},
                        labels: {
                             style: {
                                fontSize:'15px'
                            }
                        },
                        title: {
                            text: null
                        },
                        gridLineWidth: 0,
                        lineColor: 'transparent'
                    },
                    yAxis: {
                        title: {
                            text: null
                        },
                        gridLineWidth: 0,
                        labels: {
                            enabled: false
                        },
                    },
                    series: [{
                        name: 'Punkte',
                        data: {{ Scores |safe }},
                        'color': '#2B7A78'
                    }],
                    credits: {
                        enabled: false
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                            enabled: true
                            },
                            borderRadius: 7
                        }
                    },
                    legend: {
                        enabled:false
                    }
                  });
                </script>
            
            <hr>
            <div class="small" href="#">Gesamtpunktestand. Die Summe aus den Werten der drei Divisionen multipliziert mit ihren Faktoren.</div>
            
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> <i class="fas fa-table"></i> Division - Barsch</h6>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered table-sm">
                <thead>
                    <tr>
                    <th scope="col"><i class="fas fa-user"></i> Teilnehmer</th>
                    <th scope="col">1st</th>
                    <th scope="col">2nd</th>
                    <th scope="col">3rd</th>
                    </tr>
                </thead>
                <tbody>
                    {% for container in UserDataContainer %}
                        <tr>
                            <td>{{ container.username }}</td>
                            {% for entry in container.longest_barsch %}
                                <td>{{ entry }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="small" href="#">Die drei längsten Fänge in der Division-Barsch</div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> <i class="fas fa-table"></i> Division - Zander</h6>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered table-sm">
                <thead>
                    <tr>
                    <th scope="col"><i class="fas fa-user"></i> Teilnehmer</th>
                    <th scope="col">1st</th>
                    <th scope="col">2nd</th>
                    <th scope="col">3rd</th>
                    </tr>
                </thead>
                <tbody>
                    {% for container in UserDataContainer %}
                        <tr>
                            <td>{{ container.username }}</td>
                            {% for entry in container.longest_zander %}
                                <td>{{ entry }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="small" href="#">Die drei längsten Fänge in der Division-Zander</div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> <i class="fas fa-table"></i> Division - Hecht</h6>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered table-sm">
                <thead>
                    <tr>
                    <th scope="col"><i class="fas fa-user"></i> Teilnehmer</th>
                    <th scope="col">1st</th>
                    <th scope="col">2nd</th>
                    <th scope="col">3rd</th>
                    </tr>
                </thead>
                <tbody>
                    {% for container in UserDataContainer %}
                        <tr>
                            <td>{{ container.username }}</td>
                            {% for entry in container.longest_hecht %}
                                <td>{{ entry }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="small" href="#">Die drei längsten Fänge in der Division-Hecht</div>
        </div>
    </div>

    </div>
</div>




{% endblock content %}