{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% load thumbnail %}

<div class="row">
    <div class="container" style="margin-bottom: 25px">

    <div class=text-center style="margin-bottom:20px">
        <img src="../../../media/logos/logo_schrift.svg" width="200" alt="" class="center">
    </div>

    {% for scores_list in ScoresList %}
        <div style="margin-bottom:5px; margin-top: 40px; margin-left: 15px;">
            {% if forloop.counter == 1 %}
            <div class="h4 font-weight-bold text-primary">KÖNIGSKLASSE:</div>
            {% endif %}

            {% if forloop.counter == 2 %}
            <div class="h4 font-weight-bold text-primary">SCHLEIE:</div>
            {% endif %}

            {% if forloop.counter == 3 %}
            <div class="h4 font-weight-bold text-primary">KARPFEN:</div>
            {% endif %}
        </div>

        {% for userscore in scores_list %}
            <div class="col-sm mb-1">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            
                            <div class="col-5">
                                {% if forloop.counter == 1 %}
                                    <img src="../../../media/logos/first.svg" width="50" alt="" class="center">
                                {% endif %}

                                {% if forloop.counter == 2 %}
                                    <img src="../../../media/logos/second.svg" width="50" alt="" class="center">
                                {% endif %}

                                {% if forloop.counter == 3 %}
                                    <img src="../../../media/logos/third.svg" width="50" alt="" class="center">
                                {% endif %}
                            </div>
                            
                            <div class="col text-center">
                                {% thumbnail userscore.img "100x100" crop="center" as im %}
                                <img class="img-profile rounded-circle" src="{{ im.url }}" style="width: 3rem; height: 3rem;">
                                {% endthumbnail %}
                                <div class="font-weight-bold text-primary"><a href="{% url 'profile-detail' userscore.user_id %}">{{ userscore.username }}</a></div>
                            </div>
                            
                            <div class="col text-right">
                                <div class="small text-primary">Punkte:</div>
                                <div class="h5 font-weight-bold text-primary">{{ userscore.score }}</div>
                            </div>
                        
                        </div>
                    </div> 
                </div>
            </div>
        {% endfor %}
    {% endfor %}
        
        
    </div>

    
</div>

{% endblock content %}