{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    
<div class="row">

{% for post in posts %}
            <div class="col-xl-3 col-md-6 mb-4">
                
                <div class="card shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center"> 
                            <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-primary text-uppercase mb-1"><a href="#">{{ post.author }}</a></div>
                                <div class="h7 mb-0 font-weight-bold text-gray-800"><i class="fas fa-calendar-alt"></i> {{ post.date_posted|date:"d. F Y"}}</div>
                                <div class="h7 mb-0 font-weight-bold text-gray-800"><i class="fas fa-fish"></i> {{ post.fish_type}}</div>
                                <div class="h7 mb-0 font-weight-bold text-gray-800"><i class="fas fa-ruler"></i> {{ post.fish_length}} cm</div>
                            </div>
                            <div class="col-auto">
                                <a href="{% url 'post-detail' post.id %}"><img class="img-thumbnail" style="width: 8rem;" src="{{ post.img.url }}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
{% endfor %}

</div>

{% endblock content %}

