{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-5 d-none d-lg-block bg-newpost-image"></div>
              <div class="col-lg-7">
                <div class="p-5">

                  <div class=text-center>
                    <img src="../../../media/logos/npc_plus_one.svg" width="150" alt="" class="center">
                
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">  
                    </div>
                
                  </div>

                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Neuen Fang eintragen!</h1>
                  </div>
                  
                  <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <fieldset class="form-group">
                          {{ form|crispy}}
                      </fieldset>
                      <div class="form-group">
                          <button class="btn btn-lg btn-primary btn-block" type="submit">
                              Eintragen
                          </button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    
</div>

{% endblock content %}