{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="container">

    <!-- HEADER SVG -->
    <div class=text-center style="margin-bottom:20px">
        <img src="../../../media/logos/logo_rotaugen.svg" width="220" alt="" class="center">
    </div>

    <!-- BEGIN ROTAUGE CARD -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-sm">
                    <thead class="thead-dark">
                        <tr>
                        <th><i class="fas fa-trophy"></i></th>
                        <th>Teilnehmer</th>
                        <th>Punkte</th>
                        <th>1st</th>
                        <th>2nd</th>
                        <th>3rd</th>
                        <th>4th</th>
                        <th>5th</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for userscore in UserScoresRotauge %}
                            <tr>
                                <td>{{ userscore.position }}</td>
                                <td>{{ userscore.username }}</td>
                                <td>{{ userscore.score }}</td>
                                <td>{{ userscore.Rotauge_1 }}</td>
                                <td>{{ userscore.Rotauge_2 }}</td>
                                <td>{{ userscore.Rotauge_3 }}</td>
                                <td>{{ userscore.Rotauge_4 }}</td>
                                <td>{{ userscore.Rotauge_5 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="small" style="margin-top:15px; font-size:12px">* alle Längenangaben in cm</div>
        </div>
    </div>
    <!-- END ROTAUGE CARD -->

    </div>
</div>




{% endblock content %}