{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<!-- HEADER SVG -->
<div class=text-center>
    <img src="../../../media/logos/logo_regelwerk.svg" width="250" alt="" class="center">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">  
    </div>

</div>

    <div class="card border-left-primary shadow h-100 py-2" style="margin-bottom:20px">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    
                    <i class="fas fa-handshake fa-2x text-gray-300"></i>
                    <h1 class="h4 text-gray-900 mb-4">Regeln</h1>  

                    <ul>
                        <li>Teilnahme ab 18 Jahre</li>
                        <li>Jede Anmeldung ist ab Zahlung des Teilnehmerbeitrags in Höhe von 50,00€ verbindlich</li>
                        <li>Jeder Teilnehmer muss im Besitz eines gültigen Fischereischeins / Vispass sein</li>
                        <li>Das Foto vom Wertungsfisch muss gut sichtbar sein und der Fisch muss komplett auf 
                            dem Maßband zu sehen sein inklusive der Startnummer</li>
                        <li>Gewertet werden nur Fische, welche in Deutschland und Holland gefangen worden 
                            sind</li>
                        <li>Es muss die Event Scale benutzt werden. Hier gibt es keine Ausnahme</li>
                        <li>Disqualifikation wenn betrogen wird, in jeglicher Art und Weise, um sich anderen gegenüber Vorteile zu 
                            verschaffen </li>
                        <li>Disqualifikation kann auch für anderes Fehlverhalten jederzeit ausgesprochen werden</li>
                        <li>Sollte es zu einer Disqualifikation kommen, ist der Angler für das gesamte Event 
                            ausgeschlossen</li>
                    </ul> 
                </div>

                
            </div>
        </div>
    </div>

    <div class="card border-left-primary shadow h-100 py-2" style="margin-bottom:20px">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    
                    <i class="fas fa-trophy fa-2x text-gray-300"></i>
                    <h1 class="h4 text-gray-900 mb-4">Preise</h1>
                    <p>Werden in kürze nachgereicht. Besser als im letzten Jahr! Hochwertige Sachpreise, Gutscheinte etc.!</p>
                
                </div>
                
            </div>
        </div>
    </div>

    <div class="card border-left-primary shadow h-100 py-2" style="margin-bottom:60px">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    
                    <i class="fas fa-flag-checkered fa-2x text-gray-300"></i>
                    <h1 class="h4 text-gray-900 mb-4">Wertung</h1>

                    <h1 class="h5 text-gray-900 mb-4">1.) Königsklasse</h1>

                    <ul>
                        <li style="margin-bottom:5px">In der Königsklasse werden die folgenden längsten Fische gewertet: </li>
                            <ul>
                                <li>Hechte ab 60 cm</li>
                                <li>Barsche ab 25 cm</li>
                                <li>Zander ab 50 cm</li>
                                <li>Rapfen ab 45 cm</li>
                                <li>Barbe - keine Größenbeschränkung</li>
                            </ul>
                        <li style="margin-bottom:5px; margin-top:5px">Damit die Größenverhältnisse gerecht angeglichen sind, werden folgende Faktoren verwendet:</li>
                            <ul>
                                <li>Hechte x1</li>
                                <li>Barsche x2,4</li>
                                <li>Zander x1,4</li>
                                <li>Rapfen x1</li>
                                <li>Barbe x1</li>
                            </ul>
                        <li style="margin-top:5px">Jeder Angler wird anhand der Gesamtsumme der größten Fische bewertet</li>
                        <p><small style="margin-top:5px; font-size:11px">Bsp.: ein Hecht 70 cm gibt 70 Wertungspunkte, ein Barsch mit 30 cm gibt 72, usw.</small></p>
                    </ul> 
                    
                    <h1 class="h5 text-gray-900 mb-4">2.) Sonderwertung "Alande"</h1>

                    <ul>
                        <li>In der Sonderwertung "Alande" werden die längsten drei Alanden eines Teilnehmers gewertet</li>
                        <li>Ein Aland unterliegt keiner Größenbeschränkung</li>
                        <li>Für den Aland wird der Faktor x1 verwendet</li>
                    </ul>

                    <h1 class="h5 text-gray-900 mb-4">3.) Sonderwertung "Karpfen"</h1>

                    <ul>
                        <li>In der Sonderwertung "Karpfen" werden die längsten drei Karpfen eines Teilnehmers gewertet</li>
                        <li>Ein Karpfen wird erst ab einer Länge von 50cm gewertet</li>
                        <li>Für die Karpfen wird der Faktor x1 verwendet</li>
                    </ul>

                </div>
                
            </div>
        </div>
    </div>

{% endblock content %}