{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<!-- HEADER SVG -->
<div class=text-center>
    <img src="../../../media/logos/npc_regelwerk.svg" width="250" alt="" class="center">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">  
    </div>

</div>

<div class=text-center>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>


<h2 class="h1 mb-0 text-primary-800">§1</h2>
<p class="h5 mb-0 text-gray-800"> 1) Die geltenden Gesetze und Verordnungen des Landesfischereigesetztes NRW zuzüglich der diesjährigen Turnierregeln sind anzuerkennen und es ist danach zu handeln.</p>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>

<p class="h5 mb-0 text-gray-800"> 1.1.) Zuwiederhandlungen können nach sorgfältiger Prüfung des Präsidiums zum Ausschluss aus dem Turnier führen.</p>


<!--Paragraph 2 -->

<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>

<h2 class="h1 mb-0 text-primary-800">§2</h2>
<p class="h5 mb-0 text-gray-800"> 2) Um maximale Spannung zu erzeugen und den Teilnehmern ein einzigartiges Erlebnis im Rahmen des Niederrhein Predator Cup zu ermöglichen, bekommen die Teilnehmer des Turniers in einer demokratischen Befragung die Möglichkeit, das Regelwerk mitzubestimmen.</p>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>
<p class="h5 mb-0 text-gray-800"> 2.1.) Die Aufnahme in den Turnierbetrieb setzt die aktive Teilnahme an dem hiesigen Regelfindungsprozess voraus. </p>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>
<p class="h5 mb-0 text-gray-800"> 2.2.) Im Fall das vom Landesfischereigesetz abweichende Turnierregelungen vereinbart werden, haftet zu jedem Zeitpunkt der Teilnehmer selbst. Auch dann wenn Angler, in nicht von der Turnierleiutung authorisierte externe Kontrollen durch Fischereiaufseher des Landes NRW, kontrolliert und ggf. sanktioniert werden. Mögliche Regressansprüche können nicht an die Turnierleitung gerichtet werden. </p>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>
<p class="h5 mb-0 text-gray-800"> 2.3.) Sanktionen von externen Kontrolleuren wirken sich nicht auf das Turniergeschehen aus. </p>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>
<p class="h5 mb-0 text-gray-800"> 2.4.) Das Kontrollgremium des NPC behält sich vor, unangekündigte Kontrollen durchzuführen. Stellt das Kontrollgremium Regelverstöße im Turnierbetrieb fest, werden diese dem Präsidium zugeführt. </p>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>
<p class="h5 mb-0 text-gray-800"> 2.5.) Regeländerungen müssen beantragt und vor inkrafttreten vom Präsidium bestätigt werden.Die Benatragung erfolgt in schriftform und wird zunächst zum herbeiführen eines internen Entscheidungsverfahrens, der Fair-Palykommission zugeführt. </p>


<!--Paragraph 3 -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>

<h2 class="h1 mb-0 text-primary-800">§3</h2>
<p class="h5 mb-0 text-gray-800"> 3) Teilnehmerversammlungen außerhalb des aktiven Turnierbetriebs sind wünschenswert und zu fördern. </p>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>
<p class="h5 mb-0 text-gray-800"> 3.1) Der Titelgewinner wird verpflichtet einen Festakt zum Saisnonende zu planen und durchzuführen. Hierbei stellt der gesamte Orgastab des NPC seine herausragenden Erfahrungen in der durchführung epischer Großveranstaltungen zur Verfügung. </p>


<!--Paragraph 4 -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>

<h2 class="h1 mb-0 text-primary-800">§4</h2>
<p class="h5 mb-0 text-gray-800"> 4) Durch den einzigartigen Inovationsgeist des Präsidiums, werden ab der Saison 2020 Fangmeldungen in eigenverantwortung von den Teilnehmern selbst, auf der Turnierseite (link folgt) des NPC eingetragen und dokumentiert. </p>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>
<p class="h5 mb-0 text-gray-800"> 4.1.) Der anerkennung dieser Verantwortung und den verantwortungsvollen Umgang mit dieser neuartigen Technik, wird der Teilnahme am Turnierbetrieb vorausgesetzt. </p>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>
<p class="h5 mb-0 text-gray-800"> 4.2) Eine Teilnahme am Turnier kann nur erfolgen wenn Fangberichte stets aktuell und durch den Teilnehmer eigenständig auf der Turnierseite eingetragen werden. </p>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>
<p class="h5 mb-0 text-gray-800"> 4.13) Eine Fangmeldung muss aufgrund von Datenanalyseverfahren im idealfall sofort,   jedoch spätestens bis zum ende des jeweiligen Monats erfolgen, in welchem der Wertungsfisch gefangen wurde. </p>

</div>
{% endblock content %}