{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<!-- HEADER SVG -->
<div class=text-center>
    <img src="../../../media/logos/logo_regelwerk.svg" width="250" alt="" class="center">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">  
    </div>

</div>

    <div class="card border-left-primary shadow h-100 py-2" style="margin-bottom:20px">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    
                    <i class="fas fa-handshake fa-2x text-gray-300"></i>
                    <h1 class="h4 text-gray-900 mb-4">Regeln</h1>  

                    <ul>
                        <li>Teilnahme ab 18 Jahre</li>
                        <li>Jede Anmeldung ist ab Zahlung des Teilnehmerbeitrags in Höhe von 50,00€ verbindlich</li>
                        <li>Jeder Teilnehmer muss im Besitz eines gültigen Fischereischeins / Vispass sein</li>
                        <li>Das Foto vom Wertungsfisch muss gut sichtbar sein und der Fisch muss komplett auf 
                            dem Maßband zu sehen sein inklusive der Startnummer</li>
                        <li>Gewertet werden nur Fische, welche in Deutschland und Holland gefangen worden 
                            sind</li>
                        <li>Es muss die Event Scale benutzt werden. Hier gibt es keine Ausnahme</li>
                        <li>Der Wels , wenn er größer als 1,30 m ist, wird mittig über den Körper von der Schnauze 
                            bis zum Schwanzende mit dem Maßband , welches ihr auch bekommt, gemessen</li>
                        <li>Disqualifikation wenn betrogen wird, in jeglicher Art und Weise, um sich anderen gegenüber Vorteile zu 
                            verschaffen </li>
                        <li>Disqualifikation kann auch für anderes Fehlverhalten jederzeit ausgesprochen werden</li>
                        <li>Sollte es zu einer Disqualifikation kommen, ist der Angler für das gesamte Event 
                            ausgeschlossen</li>
                    </ul> 
                </div>

                
            </div>
        </div>
    </div>

    <div class="card border-left-primary shadow h-100 py-2" style="margin-bottom:20px">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    
                    <i class="fas fa-trophy fa-2x text-gray-300"></i>
                    <h1 class="h4 text-gray-900 mb-4">Preise</h1>

                    <ol>
                        <li>Angelgerät im Wert von 600,00 €</li>
                        <li>1. bis 20. Preis Angelgerät</li>
                        <li>Zusatzpreise für die jeweils grössten Fische der einzelnen Kategorien.</li>
                        <li>Pokale</li>
                        <li>Sonderwertung (5 Rotaugen ): 1x Angelkajak im Wert von 1350,00 €</li>
                        <li>Sonderwertung (Wels und Barbe): Angelgerät</li>
                    </ol> 
                </div>
                
            </div>
        </div>
    </div>

    <div class="card border-left-primary shadow h-100 py-2" style="margin-bottom:60px">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    
                    <i class="fas fa-flag-checkered fa-2x text-gray-300"></i>
                    <h1 class="h4 text-gray-900 mb-4">Wertung</h1>

                    <h1 class="h5 text-gray-900 mb-4">1.) Königsklasse</h1>

                    <ul>
                        <li style="margin-bottom:5px">In der Königsklasse werden folgende Fische gewertet: </li>
                            <ul>
                                <li>Hechte ab 60 cm</li>
                                <li>Barsche ab 25 cm</li>
                                <li>Zander ab 50 cm</li>
                                <li>Karpfen ab 50 cm</li>
                                <li>Schleie ab 40 cm</li>
                            </ul>
                        <li style="margin-bottom:5px; margin-top:5px">Damit die Größenverhältnisse gerecht angeglichen sind, werden folgende Faktoren verwendet:</li>
                            <ul>
                                <li>Hechte x1</li>
                                <li>Barsche x2,4</li>
                                <li>Zander x1,4</li>
                                <li>Karpfen x1</li>
                                <li>Schleie x2,4</li>
                            </ul>
                        <li style="margin-top:5px">Jeder Angler wird anhand der Gesamtsumme der größten Fische bewertet</li>
                        <p><small style="margin-top:5px; font-size:11px">Bsp.: ein Hecht 70 cm gibt 70 Wertungspunkte, ein Barsch mit 30 cm gibt 72, usw.</small></p>
                    </ul> 

                    <h1 class="h5 text-gray-900 mb-4">2.) Sonderwertung "Rotaugen"</h1>

                    <ul>
                        <li>In der Sonderwertung "Rotaugen" werden die fünf längsten Rotaugen eines Teilnehmers gewertet</li>
                        <li>Die Summe der fünf längsten Rotaugen eines Teilnehmers ergibt die Gesamtpunktzahl des Teilnehmers in der Sonderwertung "Rotaugen"</li>
                        <li>Für die Rotaugen wird der Faktor x1 verwendet</li>
                    </ul>
                    
                    <h1 class="h5 text-gray-900 mb-4">3.) Sonderwertung "Wels"</h1>

                    <ul>
                        <li>In der Sonderwertung "Wels" wird der längste Wels eines Teilnehmers gewertet</li>
                        <li>Für den Wels wird der Faktor x1 verwendet</li>
                    </ul>

                    <h1 class="h5 text-gray-900 mb-4">4.) Sonderwertung "Barbe"</h1>

                    <ul>
                        <li>In der Sonderwertung "Barbe" wird die längste Barbe eines Teilnehmers gewertet</li>
                        <li>Für die Barbe wird der Faktor x1 verwendet</li>
                    </ul>

                </div>
                
            </div>
        </div>
    </div>

{% endblock content %}