{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="container">

    <!-- HEADER SVG -->
    <div class=text-center style="margin-bottom:20px">
        <img src="../../../media/logos/logo_schleie.svg" width="200" alt="" class="center">
    </div>

    <!-- BEGIN SCHLEIE CARD -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-sm">
                    <thead class="thead-dark">
                        <tr>
                        <th><i class="fas fa-trophy"></i></th>
                        <th>Teilnehmer</th>
                        <th>Punkte</th>
                        <th>1. Schleie</th>
                        <th>2. Schleie</th>
                        <th>3. Schleie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for userscore in UserScoresSchleie %}
                            <tr>
                                <td>{{ userscore.position }}</td>
                                <td><a href="{% url 'profile-detail' userscore.user_id %}">{{ userscore.username }}</a></td>
                                <td>{{ userscore.score }}</td>
                                {% for fish in userscore.fishes %}
                                    <td>{{ fish }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="small" style="margin-top:15px; font-size:11px">1) Schleie: 1x </div>
            <div class="small" style="margin-bottom: 40px; font-size:11px">2) Schleie ab 40cm </div>
        </div>
    <!-- END WELS CARD -->

    </div>
</div>




{% endblock content %}