{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<!-- HEADER SVG -->
<div class=text-center>
    <img src="../../../media/logos/logo.svg" width="100" alt="" class="center">
    <h1>Unsere Sponsoren</h1>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">  
    </div>

</div>


<div class="row">

    <div class="col-lg-4 mb-4">

        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="../../../media/logos/sponsor_duwe.jpg" alt="">
                </div>
                <p>Als inhabergeführter und markenunabhängiger KFZ-Handwerksbetrieb sind wir von Autoservice Duwe, seit dem Jahr 2019 am Standort Kleve im Gewerbegebiet tätig!</p>
                <a target="_blank" rel="nofollow" href="https://www.duwe-autoservice.de/#!/services">zu unserer Webseite &rarr;</a>
            </div>
        </div>
    
    </div>

    <div class="col-lg-4 mb-4">

        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="../../../media/logos/sponsor_fargo.jpeg" alt="...">
                </div>
                <p>Zeitkritische Sendungen zuverlässig in ganz Europa abholen und zustellen.
                    In welcher Zeit zu welchen Kosten bestimmen Ihre Anforderungen.
                    Das ganze Spektrum der Transportmöglichkeiten erhalten Sie durch unseren Service.
                    Persönlich und immer im engen Kontakt zu Ihrer Sendung.</p>
                <a target="_blank" rel="nofollow" href="https://fargo-express.com/">zu unserer Webseite
                    &rarr;</a>
            </div>
        </div>

    </div>
        
    <div class="col-lg-4 mb-4">
        
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 23rem;"
                        src="../../../media/logos/sponsor_tichelpark.jpeg" alt="...">
                </div>
                <p>Mit bis zu 15 neuen Filmstarts pro Woche in Deutschland, können die TICHELPARK CINEMAS jetzt 
                    ein breiteres Spektrum in Ihrem Programm abbilden und einer anspruchsvollen Nachfrage des Kinokunden besser begegnen.
                    Vom Arthausfilm bis zum gängigen Mainstream, aber auch Filme in der Originalversion oder LIVE-Streaming per Satellit sind dabei.</p>
                <a target="_blank" rel="nofollow" href="https://www.kleverkinos.de/">zu unserer Webseite &rarr;</a>
            </div>
        
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-4 mb-4">

            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                            src="../../../media/logos/sponsor_polestar.png" alt="...">
                    </div>
                    <p>Auf unseren Seiten findest Du alle Informationen zu unseren Kajaks und zu unserem Zubehörsortiment.
                        In unserem Blog findest Du spannende Beiträge aus der Welt der Angelkajaks, Fotostories, Reiseberichte und Videos.
                        </p>
                    <a target="_blank" rel="nofollow" href="https://www.polestar-kayaks.com/">zu unserer Webseite
                        &rarr;</a>
                </div>
            </div>
    
    
    </div>

    <div class="col-lg-4 mb-4">

        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 20rem;"
                        src="../../../media/logos/sponsor_tilders.jpeg" alt="...">
                </div>
                <p>Bei uns erhalten Sie alle Leistungen im Bereich der Raumausstattung aus einer Hand! Unser breites Leistungsspektrum umfasst 
                    neben der Raumgestaltung für den privaten Bereich natürlich auch die Inneneinrichtung für gewerbliche Objekte. 
                    </p>
                <a target="_blank" rel="nofollow" href="https://www.tilders.de/">zu unserer Webseite
                    &rarr;</a>
            </div>
        </div>

    </div>
        
    <div class="col-lg-4 mb-4">
        
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 23rem;"
                        src="../../../media/logos/sponsor_ververs.png" alt="...">
                </div>
                <p>Ein zertifizierter Meisterhandwerks- und Schweißfachbetrieb.
                    Alles Made In Germany!
                    Das 2006 gegründete Familienunternehmen wird bereits in der zweiten Generation geführt.
                    Unsere Kunden sind bundesweit vertreten und profitieren von gut 50-jähriger Erfahrung im Stahlbau.
                    Wir beschäftigen ausschließlich Facharbeiter und sind aktiver Ausbildungsbetrieb für Metallbauer mit der Fachrichtung Konstruktionsmechaniker.</p>
                <a target="_blank" rel="nofollow" href="https://www.hallenbau-ververs.de/">zu unserer Webseite &rarr;</a>
            </div>
        
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-4 mb-4">

        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="../../../media/logos/sponsor_ironclaw.png" alt="">
                </div>
                <a target="_blank" rel="nofollow" href="https://www.saenger-tts.de/index.php/ironclaw">zu unserer Webseite &rarr;</a>
            </div>
        </div>
    
    </div>


    <div class="col-lg-4 mb-4">

        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="../../../media/logos/sponsor_kersten.png" alt="">
                </div>
                <a target="_blank" rel="nofollow" href="https://www.kerstengalabau.de/">zu unserer Webseite &rarr;</a>
            </div>
        </div>

    </div>

</div>

{% endblock content %}