{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="container">

    <!-- HEADER SVG -->
    <div class=text-center style="margin-bottom:20px">
        <img src="../../../media/logos/logo_wels.svg" width="200" alt="" class="center">
    </div>

    <!-- BEGIN WELS CARD -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-sm">
                    <thead class="thead-dark">
                        <tr>
                        <th><i class="fas fa-trophy"></i></th>
                        <th>Teilnehmer</th>
                        <th>Punkte</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for userscore in UserScoresWels %}
                            <tr>
                                <td>{{ userscore.position }}</td>
                                <td><a href="{% url 'profile-detail' userscore.user_id %}">{{ userscore.username }}</a></td>
                                <td>{{ userscore.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="small" style="margin-top:15px; font-size:12px">* alle Längenangaben in cm</div>
        </div>
    </div>
    <!-- END WELS CARD -->

    </div>
</div>




{% endblock content %}